<!DOCTYPE HTML>
<html lang="en-US">
<body>
	<div style="
		border: solid lavender 2px;
		margin: 2rem auto 2rem auto;
		padding: 2rem;
		width: 80%;	
		height: max-content; 
		background-color: white;
		font: 1.2rem 'Public Sans', Arial, 'Sans Serif', sans-serif;
		line-height: 1.5em;
	">
		<p>
			Dear ___,
		</p>
		<p>
			Paragraph 1 - school, name, major, etc (standard info !!)
		</p>
		<p>
			Paragraph 2 - why they should want me, why i want them + personal details not mentioned in resume
		</p>
		<p>
			Paragraph 3 - standard concolusion
		</p>

		<footer style="font-size: 1rem; line-height: 1.15rem; margin-top: 10%;">
			<p>Thank you for your time!</p>
			<p>
				Sincerely,	<br>
				Taylor Yang (she) <br>
				<a href="">email@example.com</a>
				<br>
				xxx-xxx-xxx
		</footer>
	</div>

</body>

</html>
