<!DOCTYPE HTML>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="taylor yang">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans">
</head>
<body style="background-color: whitesmoke;">
	<div style="
		border: solid lightgrey 2px;
		margin: 2rem auto 2rem auto;
		padding: 2rem;
		width: 80%;	
		height: max-content; 
		background-color: white;
		font: 1.2rem 'IBM Plex Sans', Arial, 'Sans Serif';
		line-height: 1.5em;
	">
		<p>
			Hey there, {{ name }}!
		</p>
		<p>

		</p>
		<p style="font-size: 1rem; line-height: 1.15rem;">
			Sincerely,	<br>
			Taylor Yang (she) <br>
			<a href="">email@example.com</a>
			<br>
			<i>Learning Helpline Tutor</i>
		</p>
	</div>

</body>

</html>
