<!DOCTYPE HTML>
<html lang="en-US">
<body>
	<div style="
		border: solid lavender 2px;
		margin: 2rem auto 2rem auto;
		padding: 2rem;
		width: 80%;	
		height: max-content; 
		background-color: white;
		font: 1.2rem 'Public Sans', Arial, 'Sans Serif', sans-serif;
		line-height: 1.5em;
	">
		<p>
			Dear Person I am Writing To,
		</p>
		<p>
			This is an optional sentence introducing who I am and work for, included if the addressee has never corresponded with me before.
			The second optional sentence reminds the person where we met, if relevant.
			This sentence states the purpose of the email.
		</p>
		<p>
			This optional paragraph describes in more detail what's needed.
			This sentence discusses relevant information like how soon an answer is needed, what kind of an answer is needed, and any information that the either person might find useful.
			If there's a lot of information, it's a good idea to separate this paragraph into two or three paragraphs to avoid having a Wall of Text.
		</p>
		<p>
			If a description paragraph was used, close with a restatement of the initial request, in case the addressee ignored the opening paragraph.
		</p>
		<p>
			This sentence is just a platitude (usually thanking them for their time) because people think I'm standoffish, unreasonably demanding, or cold if it's not included. 
		</p>
		<p>
			This sentence is just a platitude (usually thanking them for their time) because people think I'm standoffish, unreasonably demanding, or cold if it's not included.
		</p>

		<footer style="font-size: 1rem; line-height: 1.15rem; margin-top: 10%;">
			<p>
				Closing salutation, <br>
				Signature
		</footer>
	</div>

</body>

</html>
